html {
  scroll-behavior: smooth;
}

.card{
  display: flex;
  justify-content: center;
  margin: 50px;
  

}

#card{
  width: 150px;
  height: 200px;
  padding: 50px;
  padding-left: 50px;
  z-index: 1;

}

.layout{
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 300px;
  z-index: 1;
}